/*back button*/
.back {
   background-color: #79414f;
   color: #d1cfc4;
   margin: 5px;
   border-radius: 15px;
   border: none;
   cursor: pointer;
   padding: 7px;
}

/*toggle and back button on the right side of header*/
.right {
   display: flex;
   align-items: center;
}

/*blog name on left side of header*/
header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 5px;
}
